<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f4f4f4;">

    <div style="width: 100%; padding: 20px; background-color: #ffffff; margin: 20px auto; max-width: 600px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
        <h3 style="background-color: #4CAF50; color: white; padding: 10px; text-align: center; border-radius: 8px 8px 0 0;">Welcome to Our Service!</h3>
        <div style="padding: 20px;">
            <h1 style="margin: 0; font-size: 24px; color: #333333;">Hello</h1>
            <p style="margin: 0; font-size: 16px; color: #555555;">Forgot your password? If you didn't forget your password, please ignore this email!.</p>
            <a href="">Press here to reset your password</a>
        </div>
    </div>

</body>
</html>
